/*@media print{*/
	body{
		background: transparent;
	}
	header{
		position: relative;
	}
	header .link{
	  position: absolute;
	  top: 12px;
	  right: 12px;
	  display: block;
	  color: #aaa;
	}
	header .link:hover{
		color: #ccc;
	}
	aside{
		padding-top: 90px;
	}
	aside .avatar{
		top: -90px;
	}
	aside .avatar img{
		width: 180px;
		height: 180px;
	}
	aside .edu{
		padding-bottom: 210px;
	}
	main .projects .item a.img{
	  display: none; /*隐藏项目图片*/
	}
	main .projects .item:nth-child(5){
		padding-bottom: 146px;
	}
	main section .aboutMe,
	main section .experience{
		font-size: 14px;
	}
	footer{
		display: none;
	}
/*}*/
